header {
	background: #757575;
	display: flex;
	justify-content: space-between;
	padding: 0 2em;

	.logo {
		color: #eee;
		flex: 2;

		h1 {
			margin-bottom: 0;
		}

		h3 {
			color: #282828;
			margin-top: 0;
		}
	}

	ul {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			flex: 1;
			line-height: 1;
			text-align: center;
			position: relative;

			a {
				color: #eee;
			    display: block;
			    padding: 1em 0;
			    text-decoration: none;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    text-transform: uppercase;
			    width: 100%;
			}
		}
	}
}

.banner {
	position: relative;

	.button {
		background: #282828;
		color: #fff;
		padding: 15px 35px;
		position: absolute;
	    transform: translate(-50%,-50%);
	    left: 50%;
	    top: 50%;

	    &:hover {
	    	background: transparent;
	    	color: #282828;
	    }
	}
}

footer {
	background: #757575;
	color: #fff;
	margin-top: 3em;
	padding: 2em 0;
	text-align: center;
	
	p {
		margin-top: 0;
	}

	a {
		text-decoration: underline;
	}
}

header,
footer,
.banner {
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
    margin-left: calc(0% - (100vw - 100%) / 2);
    margin-right: calc(0% - (100vw - 100%) / 2);
}
